[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
"discord.py" = "*"
selenium-stealth = "*"
undetected-chromedriver = "*"
validators = "*"

[dev-packages]

[requires]
python_version = "3.8"
